In [1]:
import os
import common_utils
import pandas as pd
import geopandas as gpd

In [3]:
lu_profile_path = '../lu_profiles/rome_2023_landuse_profile_5000m.gpkg'

# Read LU profile
lu_gdf = gpd.read_file(lu_profile_path)  # Read the .gpkg file

lu_gdf.set_crs(epsg=4326, inplace=True)

# Update GeoDataFrame geometry
lu_gdf['geometry'] = lu_gdf['geometry'].apply(lambda geom: common_utils.round_geometry(geom))

In [4]:
# Path to MSG LST files
msg_lst_directory = '../downloads/MSG_2ND'

# Path to fused file directory
output_path = '../msg_lulc_temperature_datetime_fused'

In [7]:

# Iterate through files in the directory
for file in os.listdir(msg_lst_directory):

    print(csv_file)

    csv_file = os.path.join(msg_lst_directory, file)

    # Read .csv file
    gdf = common_utils.read_fused_data(csv_file)

    # Update GeoDataFrame geometry
    gdf['geometry'] = gdf['geometry'].apply(lambda geom: common_utils.round_geometry(geom))

    # Perform a left join
    result_gdf = gdf.merge(lu_gdf, on='geometry', how='left')

    # Save to file
    gpkg_file = file.replace('csv', 'gpkg')

    output_filepath = os.path.join(output_path, gpkg_file)
    result_gdf.to_file(output_filepath, driver='GPKG')


result_gdf.head()

../downloads/MSG_2ND/LST_2023-6-2_2023-6-30.csv
../downloads/MSG_2ND/LST_2023-7-1_2023-8-31.csv
../downloads/MSG_2ND/LST_2022-8-12_2022-8-12.csv
../downloads/MSG_2ND/LST_2022-8-10_2022-8-10.csv
../downloads/MSG_2ND/LST_2022-8-11_2022-8-11.csv
../downloads/MSG_2ND/LST_2023-6-1_2023-6-1.csv

,time,lat,lon,temperature,hour,day,month,year,geometry,no_data,water,trees,flooded_veg,crop,built_area,bare_ground,snow_or_ice,clouds,range_land
0,2023-06-02 00:00:00,42.050003,12.250000,NaN,0,2,6,2023,POINT (12.25 42.05),0.132022,0.022978,0.044921,0.0,0.595550,0.189452,0.000000,0.0,0.0,0.015077
1,2023-06-02 00:00:00,42.050003,12.300003,NaN,0,2,6,2023,POINT (12.3 42.05),0.177677,0.000143,0.036355,0.0,0.585212,0.182375,0.000000,0.0,0.0,0.018237
2,2023-06-02 00:00:00,42.050003,12.349998,NaN,0,2,6,2023,POINT (12.35 42.05),0.178449,0.000134,0.055930,0.0,0.393311,0.332778,0.000000,0.0,0.0,0.039399
3,2023-06-02 00:00:00,42.050003,12.400002,NaN,0,2,6,2023,POINT (12.4 42.05),0.177711,0.000164,0.100341,0.0,0.367734,0.314093,0.000000,0.0,0.0,0.039957
4,2023-06-02 00:00:00,42.050003,12.450005,NaN,0,2,6,2023,POINT (12.45 42.05),0.177717,0.000030,0.122215,0.0,0.443907,0.223900,0.000002,0.0,0.0,0.032229