In [9]:
import os
import common_utils
import pandas as pd
import geopandas as gpd

In [10]:
raster_path = 'rome_grid_2023_with_lulc_proportions_5km.gpkg'

# Read LU profile
lu_gdf = gpd.read_file(raster_path)  # Read the .gpkg file

lu_gdf.set_crs(epsg=4326, inplace=True)

# Update GeoDataFrame geometry
lu_gdf['geometry'] = lu_gdf['geometry'].apply(lambda geom: common_utils.round_geometry(geom))

In [11]:
# Path to MSG LST files
msg_lst_directory = '../downloads/MSG_2ND'

# Path to fused file directory
output_path = '../msg_lu_fused_data_files'

In [12]:

# Iterate through files in the directory
for file in os.listdir(msg_lst_directory):
    csv_file = os.path.join(msg_lst_directory, file)

    # Read .csv file
    gdf = common_utils.read_fused_data(csv_file)

    # Update GeoDataFrame geometry
    gdf['geometry'] = gdf['geometry'].apply(lambda geom: common_utils.round_geometry(geom))

    # Perform a left join
    result_gdf = gdf.merge(lu_gdf, on='geometry', how='left')

    # Save to file
    gpkg_file = file.replace('csv', 'gpkg')

    output_filepath = os.path.join(output_path, gpkg_file)
    result_gdf.to_file(output_filepath, driver='GPKG')

result_gdf.head()

,time,lat_x,lon_x,temperature_x,hour,day,month,year,geometry,lat_y,...,no_data,water,trees,flooded_veg,crop,built_area,bare_ground,snow_or_ice,clouds,range_land
0,2023-06-02 00:00:00,42.050003,12.250000,NaN,0,2,6,2023,POINT (12.25 42.05),42.050003,...,0.0,0.026472,0.051754,0.0,0.686135,0.218268,0.000000,0.0,0.0,0.017371
1,2023-06-02 00:00:00,42.050003,12.300003,NaN,0,2,6,2023,POINT (12.3 42.05),42.050003,...,0.0,0.000174,0.044211,0.0,0.711658,0.221781,0.000000,0.0,0.0,0.022178
2,2023-06-02 00:00:00,42.050003,12.349998,NaN,0,2,6,2023,POINT (12.35 42.05),42.050003,...,0.0,0.000163,0.068078,0.0,0.478742,0.405061,0.000000,0.0,0.0,0.047956
3,2023-06-02 00:00:00,42.050003,12.400002,NaN,0,2,6,2023,POINT (12.4 42.05),42.050003,...,0.0,0.000200,0.122026,0.0,0.447208,0.381974,0.000000,0.0,0.0,0.048592
4,2023-06-02 00:00:00,42.050003,12.450005,NaN,0,2,6,2023,POINT (12.45 42.05),42.050003,...,0.0,0.000037,0.148629,0.0,0.539848,0.272291,0.000002,0.0,0.0,0.039194